
#logo{

    height: 110px;
    width: 190px;
    margin-left: 70px;
   
}

header{

    font-family: $tipoFuente;
    font-size: 20px;
    color: $colorLetra;
    list-style-type: none;
    width: 100vw;
    border: 1px black solid;
    position: sticky;
    top: 0;
    z-index: 1;

}

.nav-item{
    color: black;
    list-style-type: none;
}

.nav-item:hover {
    background-color: rgba(0, 247, 255, 0.274);
}
