
main {

    background-color: white;
    font-family: $tipoFuente;
}

#titulo {
    
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
   
}

.card{
    width: 20rem;
}

.card-body{

    background-color: rgba(206, 206, 206, 0.11);
    
}

#botonProductos{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
